# The Happiest Hour

## An innovative solution to promoting and discovering happy hour offerings
- Madi Gwynn
- Brian Smith-Eitches

In [2]:
import sqlite3

In [3]:
# Connect/Create(if does not exist) to a database formatted as a sqlite database 
db=sqlite3.connect("./happy_hour.db")

In [4]:
cursor = db.cursor()

## Create Database Tables

In [17]:
cursor.execute('''
    CREATE TABLE regions(
        rid INTEGER PRIMARY KEY,
        title TEXT)
''')
db.commit()

In [18]:
cursor.execute('''
    CREATE TABLE users(
        uid INTEGER PRIMARY KEY,
        name TEXT,
        admin BOOLEAN)
''')
db.commit()

In [19]:
cursor.execute('''
    CREATE TABLE bars(
        bid INTEGER PRIMARY KEY,
        name TEXT,
        region_id INTEGER,
        manager_id INTERGER,
        address TEXT,
        phone_number TEXT,
        approved BOOLEAN,
        FOREIGN KEY(region_id) REFERENCES regions(rid),
        FOREIGN KEY(manager_id) REFERENCES users(uid)
        )
''')
db.commit()

In [20]:
cursor.execute('''
    CREATE TABLE bar_features(
        bfid INTEGER PRIMARY KEY,
        bar_id INTEGER,
        feature_id INTEGER,
        FOREIGN KEY(bar_id) REFERENCES bars(bid),
        FOREIGN KEY(feature_id) REFERENCES features(fid))
''')
db.commit()

In [21]:
cursor.execute('''
    CREATE TABLE features(
        fid INTEGER PRIMARY KEY,
        feature TEXT,
        description TEXT)
''')
db.commit()

In [22]:
cursor.execute('''
    CREATE TABLE happy_hours(
        hhid INTEGER PRIMARY KEY, 
        day_of_week VARCHAR(2), 
        start_time DATETIME, 
        end_time DATETIME,
        bar_id INTEGER,
        drinks BOOLEAN,
        food BOOLEAN,
        menu_pdf TEXT,
        FOREIGN KEY(bar_id) REFERENCES bars(bid))
''')
db.commit()

In [23]:
cursor.execute('''
    CREATE TABLE reviews(
        rid INTEGER PRIMARY KEY, 
        user_id INTEGER,
        bar_id INTEGER,
        star_count INTEGER,
        FOREIGN KEY(user_id) REFERENCES users(uid), 
        FOREIGN KEY(bar_id) REFERENCES bars(bid))
''')
db.commit()

In [24]:
db.close()

# Functions for implementation

# Create 
- User (self) BRIAN
- Regions (admin) BRIAN
- Bars (managers, default to *unvetted*) MADI
- Happy Hours (managers) MADI
- Features (admin) BRIAN
- Reviews (users) MADI 
- BarFeatures (managers) BRIAN

In [25]:
def create_user(name, admin=False):
    cursor.execute('''INSERT INTO users(name, admin)
                  VALUES(?,?)''', (name, admin))
    db.commit()

In [48]:
create_user("Hopdoddy Manager")

In [5]:
cursor.execute('''SELECT * FROM users''')
cursor.fetchall()

[(1, 'brian', 0), (2, 'sofi', 0), (3, 'Hopdoddy Manager', 0)]

In [45]:
def create_region(title):
    cursor.execute('''INSERT INTO regions(title) VALUES(:title)''',
                   {'title':title})
    
    db.commit()

In [46]:
create_region("Domain")

In [1]:
cursor.execute('''SELECT * FROM regions''')
cursor.fetchall()

NameError: name 'cursor' is not defined

In [44]:
def create_feature(feature, description):
    cursor.execute('''INSERT INTO features(feature, description) 
                    VALUES(?,?)''', (feature, description))
    db.commit()

In [45]:
create_feature("Pool","This Bar has a swim up pool")

In [46]:
cursor.execute('''SELECT * FROM features''')
cursor.fetchall()

[(1, 'Pool', 'This Bar has a swim up pool')]

In [54]:
def create_bar_feature(bar_id, feature_id):
    cursor.execute('''INSERT INTO bar_features(bar_id, feature_id)
                    VALUE(?,?)''', (bar_id, feature_id))
    db.commit()

In [ ]:
create_bar_feature(#barid, 1)

# Display (READ)
- Only show bars & its HH's that have been approved
- Only show bars that are in region
- Users Filter bar_features
- Users Filter by happy hour attributes
- Users Filter by bar attributes
    - Including review ratings
- For **High Level = BAR** : Link up (JSON) bar name, happy hour days, drinks/food disc?, region, reviews MADI
- For **LOW LEVEL = HH**: include each happy hour separated by happy hour entry, pdf, bar info from above, phone, address BRIAN

# Edit (UPDATE) *Identical to Create*
- User (self) BRIAN
- Regions (admin) BRIAN
- Bars (managers, admin) MADI
    - Also admin approval
- Happy Hours (managers) MADI
- Features (admin) BRIAN
- Reviews (users) MADI
- BarFeatures (managers) BRIAN **Achieved via add feature and delete feature**

In [34]:
def edit_user(uid, name, admin=False):
    cursor.execute('''UPDATE users SET name=(:name), admin=(:admin)
                  WHERE uid=(:uid)''', {'uid':uid,'name':name,'admin':admin})
    db.commit()

In [35]:
edit_user(3, "Hopdoddy Manager 1")

In [36]:
cursor.execute('''SELECT * FROM users''')
cursor.fetchall()

[(2, 'sofi', 0), (3, 'Hopdoddy Manager 1', 0)]

In [37]:
def edit_region(rid, title):
    cursor.execute('''UPDATE regions SET title=(:title)
                  WHERE rid=(:rid)''', {'rid':rid,'title':title})
    db.commit()

In [39]:
edit_region(1,'Domain (ATX)')

In [40]:
cursor.execute('''SELECT * FROM regions''')
cursor.fetchall()

[(1, 'Domain (ATX)')]

In [41]:
def edit_feature(fid, feature, description):
    cursor.execute('''UPDATE features SET feature=(:feature), description=(:description)
                  WHERE fid=(:fid)''', {'fid':fid,'feature':feature,'description':description})
    db.commit()

In [48]:
edit_feature(1,'Pool Table',"Play pool/billiards")

In [49]:
cursor.execute('''SELECT * FROM features''')
cursor.fetchall()

[(1, 'Pool Table', 'Play pool/billiards')]

# Delete
- User (admin) BRIAN
- Regions (admin) BRIAN
- Bars (managers) MADI
    - Call delete all happy hours
    - Call delete on all bar features
- Happy Hours (managers) MADI
- Features (admin) BRIAN
    - Remove all barfeatures with that feature
- Reviews (users) MADI
- BarFeatures (managers) BRIAN

In [6]:
#only admins can call this in the interface
def delete_user(user_id):
    cursor.execute('''DELETE FROM users WHERE
                  uid=(:user_id)''', {'user_id':user_id})
    db.commit()

In [7]:
delete_user(1)

In [8]:
cursor.execute('''SELECT * FROM users''')
cursor.fetchall()

[(2, 'sofi', 0), (3, 'Hopdoddy Manager', 0)]

In [20]:
def delete_region(region_id):
    cursor.execute('''DELETE FROM regions
                    WHERE rid=(:rid)''', {'rid':region_id})
    
    db.commit()

In [21]:
delete_region(2)

In [22]:
cursor.execute('''SELECT * FROM regions''')
cursor.fetchall()

[(1, 'Domain')]

In [25]:
def delete_feature(feature_id):
    cursor.execute('''DELETE FROM bar_features WHERE feature_id=(:feature_id)''', {'feature_id':feature_id})
    cursor.execute('''DELETE FROM features WHERE fid=(:feature_id)''',{'feature_id':feature_id})
    db.commit()

In [26]:
delete_feature(1)

In [27]:
cursor.execute('''SELECT * FROM features''')
cursor.fetchall()

[]

In [54]:
def delete_bar_feature(bar_id, feature_id):
    cursor.execute('''DELETE FROM bar_features WHERE bar_id=(:bar_id) AND feaure_id=(:feature_id)
                    ''', {'bar_id':bar_id, 'feature_id':feature_id})
    db.commit()

In [ ]:
create_bar_feature(#barid, 1)