# The Happiest Hour
- Madi Gwynn
- Brian Smith-Eitches

## Set Up

In [2]:
import sqlite3

In [13]:
# Connect/Create(if does not exist) to a database formatted as a sqlite database 
db=sqlite3.connect("./happy_hour.db")

In [14]:
cursor = db.cursor()

In [178]:
indices_dict = {
    'regions':{
        'rid':0,
        'title':1,
        'max_idx':1
    },
    'bars':{
        'bid':0,
        'name':1,
        'region_id':2,
        'manager_id':3,
        'address':4,
        'phone_number':5,
        'approved':6,
        'max_idx':6
    },
    'happy_hours':{
        'hhid':0,
        'day_of_week':1,
        'start_time':2, 
        'end_time':3,
        'bar_id':4,
        'drinks':5,
        'food':6,
        'menu_pdf':7,
        'max_idx':7
    }
}

## Create Database Tables

In [5]:
cursor.execute('''
    CREATE TABLE regions(
        rid INTEGER PRIMARY KEY,
        title TEXT)
''')
db.commit()

OperationalError: table regions already exists

In [6]:
cursor.execute('''
    CREATE TABLE users(
        uid INTEGER PRIMARY KEY,
        name TEXT,
        admin BOOLEAN)
''')
db.commit()

OperationalError: table users already exists

In [49]:
cursor.execute('''
    CREATE TABLE bars(
        bid INTEGER PRIMARY KEY,
        name TEXT,
        region_id INTEGER,
        manager_id INTERGER,
        address TEXT,
        phone_number TEXT,
        approved BOOLEAN,
        FOREIGN KEY(region_id) REFERENCES regions(rid),
        FOREIGN KEY(manager_id) REFERENCES users(uid)
        )
''')
db.commit()

In [8]:
cursor.execute('''
    CREATE TABLE bar_features(
        bfid INTEGER PRIMARY KEY,
        bar_id INTEGER,
        feature_id INTEGER,
        FOREIGN KEY(bar_id) REFERENCES bars(bid),
        FOREIGN KEY(feature_id) REFERENCES features(fid))
''')
db.commit()

OperationalError: table bar_features already exists

In [9]:
cursor.execute('''
    CREATE TABLE features(
        fid INTEGER PRIMARY KEY,
        feature TEXT,
        description TEXT)
''')
db.commit()

OperationalError: table features already exists

In [50]:
cursor.execute('''
    CREATE TABLE happy_hours(
        hhid INTEGER PRIMARY KEY, 
        day_of_week VARCHAR(2), 
        start_time TIME, 
        end_time TIME,
        bar_id INTEGER,
        drinks BOOLEAN,
        food BOOLEAN,
        menu_pdf TEXT,
        FOREIGN KEY(bar_id) REFERENCES bars(bid))
''')
db.commit()

OperationalError: table happy_hours already exists

In [11]:
cursor.execute('''
    CREATE TABLE reviews(
        rid INTEGER PRIMARY KEY, 
        user_id INTEGER,
        bar_id INTEGER,
        star_count INTEGER,
        FOREIGN KEY(user_id) REFERENCES users(uid), 
        FOREIGN KEY(bar_id) REFERENCES bars(bid))
''')
db.commit()

OperationalError: table reviews already exists

# Functions for implementation

# Create 
- User (self) BRIAN
- Regions (admin) BRIAN
- Bars (managers, default to *unvetted*) MADI
- Happy Hours (managers) MADI
- Features (admin) BRIAN
- Reviews (users) MADI 
- BarFeatures (managers) BRIAN

In [15]:
def create_user(name, admin=False):
    cursor.execute('''INSERT INTO users(name, admin)
                  VALUES(?,?)''', (name, admin))
    db.commit()

In [18]:
def create_region(title):
    cursor.execute('''INSERT INTO regions(title) VALUES(:title)''',
                   {'title':title})
    
    db.commit()

In [21]:
def create_feature(feature, description):
    cursor.execute('''INSERT INTO features(feature, description) 
                    VALUES(?,?)''', (feature, description))
    db.commit()

In [82]:
def create_bar_feature(bar_id, feature_id):
    cursor.execute('''INSERT INTO bar_features(bar_id, feature_id)
                    VALUEs(?,?)''', (bar_id, feature_id))
    db.commit()

In [35]:
#create_bar function 
def create_bar(name, region_id, manager_id, address, phone_number, approved=False):
    cursor.execute('''INSERT INTO bars(name, region_id, manager_id, address, phone_number, approved) 
                    VALUES(?,?,?,?,?,?)''', (name, region_id, manager_id, address, phone_number, approved))
    db.commit()

In [51]:
#create_happy_hours function 
def create_happy_hour(day_of_week, start_time, end_time, bar_id, drinks, food, menu_pdf):
    cursor.execute('''INSERT INTO happy_hours(day_of_week, start_time, end_time, bar_id, drinks, food, menu_pdf) 
                    VALUES(?,?,?,?,?,?,?)''', (day_of_week, start_time, end_time, bar_id, drinks, food, menu_pdf))
    db.commit()

In [54]:
def create_review(user_id, bar_id, star_count):
    cursor.execute('''INSERT INTO reviews(user_id, bar_id, star_count) 
                    VALUES(?,?,?)''', (user_id, bar_id, star_count))
    db.commit()

# Display (READ)
- Only show bars & its HH's that have been approved BRIAN. Done.
- Users Filter by happy hour attributes MADI TODO.
    - Drinks discounted?
    - Food discounted?
    - Time in range?
- Users Filter by bar attributes BRIAN Done.
    - Review ratings
    - Bar_features
    - Regions
- For **High Level = BAR** : Link up (JSON) bar name, happy hour days, drinks/food disc?, region, reviews MADI TODO
- For **LOW LEVEL = HH**: include each happy hour separated by happy hour entry, pdf, bar info from above, phone, address BRIAN Done.

In [154]:
#returns approved bars
def all_approved_bars():
    cursor.execute('''SELECT * FROM bars 
                        WHERE approved = TRUE''')
    approved_bars = cursor.fetchall()
    return set(approved_bars)

In [164]:
def all_approved_hhs():
    cursor.execute('''SELECT * FROM happy_hours JOIN bars on bar_id = bid WHERE approved = True''')
    approved_hhs = cursor.fetchall()
    return set(approved_hhs)

In [165]:
def bars_in_regions(region_ids = None):
    if not region_ids:
        return all_approved_bars()
    
    bars = []
    
    for region_id in region_ids:
        cursor.execute('''SELECT * FROM bars WHERE region_id = (:region_id) AND approved = True''',
                  {'region_id':region_id})
        region_bars = cursor.fetchall()
        bars = bars + region_bars
        
    return set(bars)

In [166]:
def bars_with_features(feature_ids = None):
    if not feature_ids:
        return all_approved_bars()
    bars = []
    for feature in feature_ids:
        cursor.execute('''SELECT * FROM bars JOIN bar_features on bid = bar_id WHERE
                        feature_id = (:feature_id) AND approved = True''',
                      {'feature_id':feature})
        bars_joined_with_feature = cursor.fetchall()
        bars_with_feature = [x[:indices_dict['bars']['max_idx']+1] for x in bars_joined_with_feature]
        bars = bars + bars_with_feature
    return set(bars)

In [179]:
def bars_with_rating(min_rating = 0):
    if not min_rating:
        return all_approved_bars()
    cursor.execute('''SELECT * FROM bars JOIN reviews on bid = bar_id WHERE approved = True
                    GROUP BY bid HAVING AVG(star_count) >= (:min_rating)''',
                    {'min_rating':min_rating})
    return set(x[:indices_dict['bars']['max_idx']+1] for x in cursor.fetchall())

In [168]:
#REGION IDS AND FEATURE IDS IS ALWAYS A LIST WHEN SOMETHING IS CHOSEN
def filter_bars(region_ids = None, feature_ids = None, min_rating = 0):
    return bars_in_regions(region_ids) & bars_with_features(feature_ids) & bars_with_rating(min_rating)

In [190]:
def all_hhs_at_bar(bar_id):
    cursor.execute('''SELECT * FROM happy_hours JOIN bars on bar_id = bid WHERE bar_id = (:bar_id)''', {'bar_id':bar_id})
    hh_list = []
    bar = {}
    for hh_join_bar in cursor.fetchall():
        hh_dict = {}
        for column in indices_dict['happy_hours']:
            if column == 'max_idx':
                continue
            hh_dict[column]=hh_join_bar[indices_dict['happy_hours'][column]]
        hh_list.append(hh_dict)
        if not len(bar.keys()):
            offset = indices_dict['happy_hours']['max_idx']+1
            for column in indices_dict['bars']:
                if column == 'max_idx':
                    continue
                bar[column]=hh_join_bar[indices_dict['bars'][column]+offset]
    
    return {'bar':bar,'happy_hours':hh_list}

In [ ]:
#output of this function is a dictionary - can later be converted to a json object 
def display_high(bar_id):
    #create empty dictionary
    bar = {}
    
    #add bar name and region to dictionary
    cursor.execute('''SELECT name, region FROM bars 
                        WHERE bid=(:bid) ''', {'bid':bar_id})
    bar_info = cursor.fetchone()
    bar[name] = bar_info[0]
    bar[region] = bar_info[1]
    
    #add happy hour days to dictionary 
    cursor.execute('''SELECT day_of_week FROM happy_hours
                        WHERE bar_id=(:bar_id)''', {'bar_id':bar_id})
    day_of_weeks = cursor.fetchall()
    hh_days = []
    for day in day_of_weeks
        hh_days.append(day)
    bar[days] = hh_days
    
    #add if drinks and food are discounted 
    cursor.execute('''SELECT drinks FROM happy_hours 
                        WHERE bar_id=(:bar_id)''', {'bar_id':bar_id})
    drinks = cursor.fetchall()
    drinks_check = FALSE
    for disc in drinks
        if disc[0] == 'TRUE' #is this a boolean or a string?
            drinks_check = TRUE
            break
    bar[drinks] = drinks_check
    
    cursor.execute('''SELECT food FROM happy_hours 
                        WHERE bar_id=(:bar_id)''', {'bar_id':bar_id})
    food = cursor.fetchall()
    food_check = FALSE
    for disc in food
        if disc[0] == 'TRUE' #is this a boolean or a string?
            food_check = TRUE
            break
    
    bar[food] = food_check
    
    #add reviews score to dictionary 
    cursor.execute('''SELECT star_count FROM reviews 
                        WHERE bar_id=(:bar_id)''', {'bar_id':bar_id})
    star_counts = cursor.fetchall()
    star_sum = 0
    for review in star_counts
        star_sum += review[0]
    total_reviews = cursor.getCount()
    
    bar[reviews] = star_sum / total_reviews
    
    
    #print and return dictionary 
    print (bar)
    #return bar

# Edit (UPDATE) *Identical to Create*
- User (self) BRIAN
- Regions (admin) BRIAN
- Bars (managers, admin) MADI
    - Also admin approval
- Happy Hours (managers) MADI
- Features (admin) BRIAN
- Reviews (users) MADI
- BarFeatures (managers) BRIAN **Achieved via add feature and delete feature**

In [34]:
def edit_user(uid, name, admin=False):
    cursor.execute('''UPDATE users SET name=(:name), admin=(:admin)
                  WHERE uid=(:uid)''', {'uid':uid,'name':name,'admin':admin})
    db.commit()

In [37]:
def edit_region(rid, title):
    cursor.execute('''UPDATE regions SET title=(:title)
                  WHERE rid=(:rid)''', {'rid':rid,'title':title})
    db.commit()

In [41]:
def edit_feature(fid, feature, description):
    cursor.execute('''UPDATE features SET feature=(:feature), description=(:description)
                  WHERE fid=(:fid)''', {'fid':fid,'feature':feature,'description':description})
    db.commit()

In [ ]:
def edit_bar(bid, name, region_id, manager_id, address, phone_number):
    cursor.execute('''UPDATE bars SET name=(:name), region_id=(:region_id), manager_id=(:manager_id), address=(:address), phone_number=(:phone_number)
                  WHERE bid=(:bid)''', {'bid':bid,'name':name,'region_id':region_id, 'manager_id':manager_id, 'address':address, 'phone_number':phone_number})
    db.commit()

In [62]:
def approve_bar(bid, approved=True):
    cursor.execute('''UPDATE bars SET approved=(:approved)
                        WHERE bid=(:bid)''', {'bid':bid,'approved':approved})
    db.commit()

In [ ]:
def edit_happy_hour(hhid, day_of_week, start_time, end_time, bar_id, drinks, food, menu_pdf):
    cursor.execute('''UPDATE bars SET day_of_week=(:day_of_week), start_time=(:start_time), end_time=(:end_time), bar_id=(:bar_id), drinks=(:drinks), food=(:food), menu_pdf=(:menu_pdf)
                  WHERE hhid=(:hhid)''', {'hhid':hhid,'name':name,'region_id':region_id, 'manager_id':manager_id, 'address':address, 'phone_number':phone_number})
    db.commit()

In [ ]:
def edit_review(rid, bar_id, star_count):
    cursor.execute('''UPDATE bars SET bar_id=(:bar_id), star_count=(:star_count)
                        WHERE rid=(:rid)''', {'rid':rid,'bar_id':bar_id, 'star_count':star_count})
    db.commit()

# Delete
- User (admin) BRIAN
- Regions (admin) BRIAN
- Bars (managers) MADI
    - Call delete all happy hours
    - Call delete on all bar features
- Happy Hours (managers) MADI
- Features (admin) BRIAN
    - Remove all barfeatures with that feature
- Reviews (users) MADI
- BarFeatures (managers) BRIAN

In [6]:
#only admins can call this in the interface
def delete_user(user_id):
    cursor.execute('''DELETE FROM users WHERE
                  uid=(:user_id)''', {'user_id':user_id})
    db.commit()

In [20]:
def delete_region(region_id):
    cursor.execute('''DELETE FROM regions
                    WHERE rid=(:rid)''', {'rid':region_id})
    
    db.commit()

In [25]:
def delete_feature(feature_id):
    cursor.execute('''DELETE FROM bar_features WHERE feature_id=(:feature_id)''', {'feature_id':feature_id})
    cursor.execute('''DELETE FROM features WHERE fid=(:feature_id)''',{'feature_id':feature_id})
    db.commit()

In [54]:
def delete_bar_feature(bar_id, feature_id):
    cursor.execute('''DELETE FROM bar_features WHERE bar_id=(:bar_id) AND feaure_id=(:feature_id)
                    ''', {'bar_id':bar_id, 'feature_id':feature_id})
    db.commit()

In [ ]:
def delete_bar(bar_id):
    cursor.execute('''DELETE FROM bar_features WHERE bar_id=(:bar_id)''', {'bar_id':bar_id})
    cursor.execute('''DELETE FROM happy_hours WHERE bar_id=(:bar_id)''', {'bar_id':bar_id})
    cursor.execute('''DELETE FROM bars WHERE bid=(:bar_id)''', {'bar_id':bar_id})
    db.commit()

In [ ]:
def delete_happy_hour(hhid):
    cursor.execute('''DELETE FROM happy_hours WHERE hhid=(:hhid)''', {'hhid':hhid})
    db.commit()

In [ ]:
def delete_review(rid):
    cursor.execute('''DELETE FROM reviews WHERE rid=(:rid)''', {'rid':rid})
    db.commit()

# Seeding/Testing

## Create

In [16]:
create_user("Hopdoddy Manager")

In [17]:
cursor.execute('''SELECT * FROM users''')
cursor.fetchall()

[(2, 'sofi', 0), (3, 'Hopdoddy Manager 1', 0), (4, 'Hopdoddy Manager', 0)]

In [19]:
create_region("Domain")

In [20]:
cursor.execute('''SELECT * FROM regions''')
cursor.fetchall()

[(1, 'Domain (ATX)'), (2, 'Domain')]

In [22]:
create_feature("Pool","This Bar has a swim up pool")

In [23]:
cursor.execute('''SELECT * FROM features''')
cursor.fetchall()

[(1, 'Pool Table', 'Play pool/billiards'),
 (2, 'Pool', 'This Bar has a swim up pool')]

In [135]:
create_bar_feature(3, 2)

In [127]:
create_bar("My Bar",2, 2, "My Address", "1230987654")
create_bar_feature(2,2)

In [136]:
cursor.execute('''SELECT * FROM bar_features''')
cursor.fetchall()

[(1, 1, 1), (2, 2, 2), (3, 2, 2), (4, 3, 2)]

In [60]:
create_bar("Hopdoddy", 1, 3, "111 Drink Road", "1234567890")

In [128]:
cursor.execute('''SELECT * FROM bars''')
cursor.fetchall()

[(1, 'Hopdoddy', 1, 3, '111 Drink Road', '1234567890', 1),
 (2, 'My Bar', 2, 2, 'My Address', '1230987654', 0),
 (3, 'My Bar', 2, 2, 'My Address', '1230987654', 0)]

In [52]:
create_happy_hour("M", "17:00:00", "19:00:00", 1, True, False, "./menus/hopdoddy_menu.pdf")

In [53]:
cursor.execute('''SELECT * FROM happy_hours''')
cursor.fetchall()

[(1, 'M', '17:00:00', '19:00:00', 1, 1, 0, './menus/hopdoddy_menu.pdf')]

In [55]:
create_review(1, 1, 5)

In [56]:
cursor.execute('''SELECT * FROM reviews''')
cursor.fetchall()

[(1, 1, 1, 5)]

## Read

In [177]:
all_approved_bars()

{(1, 'Hopdoddy', 1, 3, '111 Drink Road', '1234567890', 1),
 (3, 'My Bar', 2, 2, 'My Address', '1230987654', 1)}

In [170]:
all_hhs_at_bar(1)

[(1,
  'M',
  '17:00:00',
  '19:00:00',
  1,
  1,
  0,
  './menus/hopdoddy_menu.pdf',
  1,
  'Hopdoddy',
  1,
  3,
  '111 Drink Road',
  '1234567890',
  1)]

In [172]:
all_approved_hhs()

{(1,
  'M',
  '17:00:00',
  '19:00:00',
  1,
  1,
  0,
  './menus/hopdoddy_menu.pdf',
  1,
  'Hopdoddy',
  1,
  3,
  '111 Drink Road',
  '1234567890',
  1)}

In [173]:
bars_in_regions([])

{(1, 'Hopdoddy', 1, 3, '111 Drink Road', '1234567890', 1),
 (3, 'My Bar', 2, 2, 'My Address', '1230987654', 1)}

In [174]:
bars_with_features([1,2])

{(1, 'Hopdoddy', 1, 3, '111 Drink Road', '1234567890', 1),
 (3, 'My Bar', 2, 2, 'My Address', '1230987654', 1)}

In [175]:
bars_with_rating(1)

{(1, 'Hopdoddy', 1, 3, '111 Drink Road', '1234567890', 1)}

#### Main Calls

In [181]:
filter_bars([],[],1)

{(1, 'Hopdoddy', 1, 3, '111 Drink Road', '1234567890', 1)}

In [191]:
all_hhs_at_bar(1)

{'bar': {'bid': 1,
  'name': 'Hopdoddy',
  'region_id': 1,
  'manager_id': 3,
  'address': '111 Drink Road',
  'phone_number': '1234567890',
  'approved': 1},
 'happy_hours': [{'hhid': 1,
   'day_of_week': 'M',
   'start_time': '17:00:00',
   'end_time': '19:00:00',
   'bar_id': 1,
   'drinks': 1,
   'food': 0,
   'menu_pdf': './menus/hopdoddy_menu.pdf'}]}

## Edit

In [36]:
edit_user(3, "Hopdoddy Manager 1")
cursor.execute('''SELECT * FROM users''')
cursor.fetchall()

[(2, 'sofi', 0), (3, 'Hopdoddy Manager 1', 0)]

In [40]:
edit_region(1,'Domain (ATX)')
cursor.execute('''SELECT * FROM regions''')
cursor.fetchall()

[(1, 'Domain (ATX)')]

In [49]:
edit_feature(1,'Pool Table',"Play pool/billiards")
cursor.execute('''SELECT * FROM features''')
cursor.fetchall()

[(1, 'Pool Table', 'Play pool/billiards')]

In [ ]:
#edit_bar(bid, name, region_id, manager_id, address, phone_number):

In [64]:
approve_bar(3)
cursor.execute('select * from bars')
cursor.fetchall()

[(1, 'Hopdoddy', 1, 3, '111 Drink Road', '1234567890', 1)]

In [ ]:
#edit_happy_hour(hhid, day_of_week, start_time, end_time, bar_id, drinks, food, menu_pdf):

In [ ]:
#edit_review(rid, bar_id, star_count):

## Delete

In [8]:
delete_user(1)
cursor.execute('''SELECT * FROM users''')
cursor.fetchall()

[(2, 'sofi', 0), (3, 'Hopdoddy Manager', 0)]

In [22]:
delete_region(2)
cursor.execute('''SELECT * FROM regions''')
cursor.fetchall()

[(1, 'Domain')]

In [27]:
delete_feature(1)
cursor.execute('''SELECT * FROM features''')
cursor.fetchall()

[]

In [ ]:
delete_bar_feature(2, 1)
cursor.execute("Select * FROM bar_features")
cursor.fetchall()

In [ ]:
delete_bar(1)

In [ ]:
delete_happy_hour(1)

In [ ]:
delete_review(1)

# Close the DB

In [192]:
db.close()